body{
    background-color: rgb(210, 232, 240);
}

.currentReadings > div{
    display: flex;
    flex-direction: column;
    /* padding-top: 10%; */
    gap:10%;
    background-color: lightgray;
    border: 1px solid black;
}

.welcomeArea{
    text-align: center;
}