body{
    background-image: url(./images/RPiSystem.png);
    background-size: contain;
    font-family: 'Montserrat', sans-serif;
}


.welcomeArea{
    text-align: center;
}

#sensePhoto{
    width: 50%;
    align-self: center;
}

.card{
   margin-bottom: 1rem;
}